shannon_0122_relaxng-02.rnc

start= song
song= element song {details, lyrics}
    details= element details {title, artist}
        title= element title {text}
        artist= element artist {text}
    lyrics= element lyrics {(verse,chorus)+}
        verse= element verse {line+}
        chorus = element chorus {line+}
        line= element line {(text|ref)*}
            ref= element ref {type, text}
                type= attribute type {text}